body {
    background: linear-gradient(to bottom right, black, #360e37, #282828, rgb(94, 41, 41));
    color: #999999;
}

.container {
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

.recipe-list ul {
    list-style: inside; 
    margin-left: 0;
    padding-left: 0px;
}

.recipe-list li {
    margin-bottom: 5px; 
}

.recipe-instructions {
    padding: 10px;
}

#recipe1-groceries {
    border: 1px solid #000; 
    color: #000;
    background-color: white;
    padding: 10px; 
    min-width: 650px;
    max-width: 750px;
}

#recipe1-groceries h3 {
    text-align: left; 
}

#recipe1-groceries ul {
    list-style: disc outside; 
    padding-left: 20px; 
}

#recipe1-groceries ul li {
    text-align: left;
}

#recipe1-instructions {
    border: 1px solid #000;
    color: #000;
    background-color: white;
    padding: 10px;
    min-width: 600px;
    max-width: 750px;
}

#recipe1-instructions h3 {
    text-align: left; 
}

#recipe1-instructions ul {
    list-style: disc outside; 
    padding-left: 20px; 
}

#recipe1-instructions ul li {
    text-align: left;
}

.tab-buttons {
    display: flex;
}

.tab-buttons button {
    background-color: #282828;
    color: #fff;
    border: 5px solid #0056b3;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.tab-buttons button:hover {
    background-color: #000;
}

.social-media-icons {
    width: 20%; 
    display: flex;
    flex-direction: column;
}

.social-media-icons div {
    margin-top: 50px;
}

.linktree-icon {
    width: 100px; 
    height: 100px;
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(to bottom right, black, #360e37, #282828, rgb(94, 41, 41));
        color: #999999;
    }
    
    .container {
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
    }
    
    .main-content {
        width: 90%; /* Increase width for smaller screens */
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center;
    }
    
    .recipe-list ul {
        list-style: inside;
        margin-left: 0;
        padding-left: 0;
    }
    
    .recipe-list li {
        margin-bottom: 5px;
    }
    
    .recipe-instructions {
        padding: 10px;
    }
    
    #recipe1-groceries {
        border: 1px solid #000;
        color: #000;
        background-color: white;
        padding: 10px;
        min-width: auto; /* Remove min-width to allow content to adjust */
        max-width: 750px;
    }
    
    #recipe1-groceries h3 {
        text-align: left;
    }
    
    #recipe1-groceries ul {
        list-style: disc outside;
        padding-left: 20px;
    }
    
    #recipe1-groceries ul li {
        text-align: left;
    }
    
    #recipe1-instructions {
        border: 1px solid #000;
        color: #000;
        background-color: white;
        padding: 10px;
        min-width: auto; /* Remove min-width to allow content to adjust */
        max-width: 750px;
    }
    
    #recipe1-instructions h3 {
        text-align: left;
    }
    
    #recipe1-instructions ul {
        list-style: disc outside;
        padding-left: 20px;
    }
    
    #recipe1-instructions ul li {
        text-align: left;
    }
    
    .tab-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tab-buttons button {
        background-color: #282828;
        color: #fff;
        border: 5px solid #0056b3;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin: 5px; /* Add margin for button spacing */
    }
    
    .tab-buttons button:hover {
        background-color: #000;
    }
    
    .social-media-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    
    .social-media-icons div {
        margin-top: 10px; 
    }
    
    .linktree-icon {
        width: 100px; 
        height: 100px;
    }    
}