body {
    background: linear-gradient(to bottom right, black, #282828, white);
    color: #999999;
}

.container {
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

.recipe-list ul {
    list-style: inside; 
    margin-left: 0;
    padding-left: 0px;
}

.recipe-list li {
    margin-bottom: 5px; 
}

.recipe-instructions {
    padding: 10px;
}

#recipe1-groceries {
    border: 1px solid #000; 
    color: #000;
    background-color: white;
    padding: 10px; 
    min-width: 650px;
    max-width: 750px;
}

#recipe1-groceries h3 {
    text-align: left; 
}

#recipe1-groceries ul {
    list-style: disc outside; 
    padding-left: 20px; 
}

#recipe1-groceries ul li {
    text-align: left;
}

#recipe1-instructions {
    border: 1px solid #000;
    color: #000;
    background-color: white;
    padding: 10px;
    min-width: 600px;
    max-width: 750px;
}

#recipe1-instructions h3 {
    text-align: left; 
}

#recipe1-instructions ul {
    list-style: disc outside; 
    padding-left: 20px; 
}

#recipe1-instructions ul li {
    text-align: left;
}

.tab-buttons {
    display: flex;
}

.tab-buttons button {
    background-color: #282828;
    color: #fff;
    border: 5px solid #0056b3;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.tab-buttons button:hover {
    background-color: #000;
}

.social-media-icons {
    width: 20%; 
    display: flex;
    flex-direction: column;
}

.social-media-icons div {
    margin-top: 50px;
}

.linktree-icon {
    width: 100px; 
    height: 100px;
}